/* Header */

.header {
    background-color: #f4f5f6;
    padding-top: 1rem;
}
@media (min-width: 40.0rem) {
    .header {
        padding-top: 5rem;
    }
}
.header .container {
    position: relative;
    border-top: 0;
    text-align: center;
}
.header .title {
    font-family: 'Gotham Rounded A', 'Gotham Rounded B', 'Helvetica Neue', Arial, sans-serif;
}
.header .img {
    height: 15.0rem;
    margin-bottom: 2rem;
}
.header + section {
    border-top: 0;
}
.header .button {
    margin-top: 2rem;
    margin-bottom: 4rem;
}
@media (min-width: 40.0rem) {
    .header .button {
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
}
